<div class="hero-section">
    <div class="hero-background">
        <f:for each="{data.tx_mask_hero_video}" as="file">
            <video autoplay muted loop playsinline id="heroVideo">
                <source src="{file.publicUrl}" type="{file.mimeType}">
            </video>
        </f:for>
    </div>

    <div class="hero-content container">
        <div class="hero-left">
            <f:if condition="{data.header}">
                <h1 class="hero-header">{data.header}</h1>
            </f:if>

            <f:if condition="{data.tx_mask_hero_bodytext}">
                <div class="hero-bodytext">
                    {data.tx_mask_hero_bodytext -> f:format.html()}
                </div>
            </f:if>
        </div>

        <div class="hero-right">
            <f:if condition="{data.tx_mask_hero_changes_item}">
                <div class="hero-changes">
                    <f:for each="{data.tx_mask_hero_changes_item}" as="data_item">
                        <div class="hero-change-text">
                            {data_item.tx_mask_text_changes}
                        </div>
                    </f:for>
                </div>
            </f:if>
        
            <f:if condition="{data.tx_mask_hero_bodytext_right}">
                <div class="hero-bodytext-right">
                    {data.tx_mask_hero_bodytext_right -> f:format.html()}
                </div>
            </f:if>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const heroHeader = document.querySelector(".hero-header");
        if (heroHeader) {
          heroHeader.innerHTML = heroHeader.textContent.trim().split(" ").join("<br>");
        }
      });
</script>